
.hero-container {
    background-image: url("/src/assets//national-park-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    place-items: center;    
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

    h1 {
        @apply text-7xl md:text-7xl lg:text-8xl text-center font-bold mt-80 text-gray-900;

    }
}
